<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MixPanel.Data.ApiKey" value="722cbb880612acc8ac82aa89c5ca0a7d" />
    <add key="MixPanel.Data.ApiSecret" value="fb7acb33e370dc992e5ecbf37f8eeaa7" />
    <add key="MixPanel.Data.Token" value="e63ef59850a6ed1c010f49676430cdca" />
  </appSettings>
</configuration>